<p>employee works!</p>
<table>
    <tr>
        <th>Id</th>
        <th>password</th>
        <th>Name</th>
        <th>address</th>
        <th>age</th>
        <th>company</th>
    
    </tr>

   <tr *ngFor="let employee of employees">
       <td>{{employee.id}}</td>
       <td>{{employee.password}}</td>
       <td>{{employee.name }}</td>
        <td>{{employee.address }}</td>
        <td>{{employee.age }}</td>
        <td>{{employee.company }}</td>
   </tr>
   <button class="btn btn-success">Button</button>
</table>
